/* TODO Add all backgrounds (use some random `height` and `width` if needed, don’t worry about the exact layout, try `%`)*/

.redCircuitBoardImageBG {
  text-align: center;
}

.whiteTextureBackground {
  text-align: left;
}

.whiteTextureBackground {
  background-image: url('../assets/other/home-tv-service-bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.redCircuitBoardImageBG {
  background-image: url("../assets/other/home-tv-service-bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.starfieldImageBackground {
  background-image: url('../assets/main-bg/home-featured-bg.png');
  background-repeat: no-repeat;
}

/*todo simplify so that gradient is black, and default like this*/
.starfieldImageBackground div ~ * {
  text-align: center;
  color: white;
}

/*todo Define height for the following sections using `vw` - Intro (intro brain background) - Also use `padding-top` with `%`*/

main header {
  /*https://developer.mozilla.org/en/docs/Web/CSS/CSS_Background_and_Borders/Using_CSS_multiple_backgrounds*/
  /*todo more background images here*/
  background-image: url("../assets/main-bg/home-brain-image-new-1920x816.png"), url("../assets/main-bg/home-featured-bg.png");
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/background-size*/
  background-size: contain, cover;
  background-repeat: no-repeat;
}
