/*blogroll rules*/
.blog_roll {
  background-color: #f14848;
  color: white;
  box-sizing: border-box;
}

/*.blogroll a:hover,*/
/*.blogroll a:focus {*/
/*color: white;*/
/*}*/

/* todo Layout the Blogs section using `inline-block`*/
/*todo use proper width and height for blog roll sections based on the screenshot
 *Use `vw` to make it fluid on screen resize, keeping the same aspect ratio
 */

.blog_roll p {
  text-transform: capitalize;
  text-align: left;
  color: white;
}

.blog_roll ul li {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(99% / 5);
  height: 100%;
}

.blog_roll ul li:nth-child(1) {
  background-image: url("../assets/blog/ibc_post_EI-750x508.png");
}

.blog_roll ul li:nth-child(2) {
  background-image: url("../assets/blog/IMG_9294-750x563.jpeg");
}

.blog_roll ul li:nth-child(3) {
  background-image: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
}

.blog_roll ul li:nth-child(4) {
  background-image: url("../assets/blog/post_tv_connect-750x508.jpeg");
}

.blog_roll ul li:nth-child(5) {
  background-image: url("../assets/blog/post_quality-750x508.jpeg");
}

.blog_roll p:nth-child(2) {
  background-color: #f14848;
}
