/*blogroll rules*/
/* Layout the Blogs section using `inline-block`*/
.blog_roll {
  height: calc(100vw / 2.1666666);
  width: calc(100vw);
  display: block;
  background-color: #f14848;
  color: white;
  box-sizing: border-box;
  /*overflow: hidden;*/
  position: relative;
  vertical-align: bottom;
}

/*.blogroll a:hover,*/
/*.blogroll a:focus {*/
/*color: white;*/
/*}*/

.blogroll_header {
  display: inline-block;
  width: calc(100% / 6);
  height: 100%;
  text-transform: capitalize;
  text-align: left;
  /*todo decrypt magical vertalign*/
  vertical-align: bottom;
  color: white;
}

.blogroll_header * {
  vertical-align: bottom;
}

.blog_roll * {
  display: inline-block;
}

.blog_roll ul {
  width: calc((99.5% / 6) * 5);
  height: 100%;
}

/*todo use proper width and height for blog roll sections based on the screenshot
 *Use `vw` to make it fluid on screen resize, keeping the same aspect ratio
 */
/*selector for all the blog roll sections*/
.blog_roll ul li {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% / 5);
  height: 100%;
  vertical-align: top;
  position: relative;
}


/*Position the Read More below the box, make sure to hide the overflow*/
.blog_roll a p ~ p {
  position: absolute;
  bottom: -2em;
  left: 0;
  overflow: hidden;
}

/*put the text on the bottom of the div*/
.blog_roll p,
.blog_roll h2
{
  position: absolute;
  bottom: 0;
  left: 0;
}

.blog_roll ul li:nth-child(1) {
  background-image: url("../assets/blog/ibc_post_EI-750x508.png");
}

.blog_roll ul li:nth-child(2) {
  background-image: url("../assets/blog/IMG_9294-750x563.jpeg");
}

.blog_roll ul li:nth-child(3) {
  background-image: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
}

.blog_roll ul li:nth-child(4) {
  background-image: url("../assets/blog/post_tv_connect-750x508.jpeg");
}

.blog_roll ul li:nth-child(5) {
  background-image: url("../assets/blog/post_quality-750x508.jpeg");
}

.blog_roll p:nth-child(2) {
  background-color: #f14848;
}
