/*- Add background for the footer */
footer {
  /* http://www.comigo.com/ #page > div > footer background-color */
  background-color: #1e2024;
}

footer span {
  color: #636363;
}

footer li {
  text-align: left;
}

/*consider adding uppercase class to protect against mistakes*/
footer > ul > li {
  color: #fff;
}

footer > ul > li > a:hover,
footer > ul > li > a:focus {
  color: inherit;
}

footer > ul > li > ul {
  color: #7a7a7a;
}

.footerBottom {
  background-color: #151515;
  color: #636363;
}

/*rearrange css to fit the same order as the html*/
.footerBottom a:hover,
.footerBottom a:focus {
  color: white;
}
