/*- Add background for the footer */
footer {
  /* http://www.comigo.com/ #page > div > footer background-color */
  background-color: #1e2024;
}

/*.footer_miscText*/
footer span {
  color: #636363;
}

/*.footer_menu*/
footer li {
  display: inline;
  text-align: left;
}

/*consider adding uppercase class to protect against mistakes*/
footer > ul > li {
  color: #fff;
}

/*.footer_menuHeaderLink*/
footer > ul > li > a:hover,
footer > ul > li > a:focus {
  color: inherit;
}

/*.footer_subMenu*/
footer > ul > li > ul {
  color: #7a7a7a;
}

.footer_Bottom {
  background-color: #151515;
  color: #636363;
}

.footer_Bottom * {
  display: inline;
}

/*rearrange css to fit the same order as the html*/
.footer_Bottom a:hover,
.footer_Bottom a:focus {
  color: white;
}

footer .socialLinkSection {
  /*todo align this to the right*/
}
