/*- Add background for the footer */
footer {
  /* http://www.comigo.com/ #page > div > footer background-color */
  background-color: #1e2024;
}

/*.footer_miscText*/
footer span {
  color: #636363;
}

/*.footer_menu*/
footer li {
  display: inline;
  text-align: left;
}

/*consider adding uppercase class to protect against mistakes*/
footer > ul > li {
  color: #fff;
}

/*.footer_menuHeaderLink*/
footer > ul > li > a:hover,
footer > ul > li > a:focus {
  color: inherit;
}

/*.footer_subMenu*/
footer > ul > li > ul {
  color: #7a7a7a;
}

/*todo Footer (bottom footer) - use `text-align: justify` to align the different text to the sides (will require to wrap stuff with a `span`)*/
.footer_Bottom {
  background-color: #151515;
  color: #636363;
  height: 3rem;
}

.footer_Bottom * {
  display: inline-block;
}

/*rearrange css to fit the same order as the html*/
.footer_Bottom a:hover,
.footer_Bottom a:focus {
  color: white;
}

.footerBottom_socialIcons div {
  border: 1px solid grey;
  border-radius: 100%;
  color: grey;
  padding: 3px;
  /*todo get social icons onto right side of bottom footer*/
  position: relative;
  right: 0;
}
