/*menu background color change*/
/*Thanks to https://etaybarzilay89.github.io/comigo/ for the tip that I don't want to highlight the li, I should highlight the anchor tag*/
nav ul ul a:hover,
nav ul ul a:focus {
  outline: none;
  background-color: #f14848;
  color: white;
}

/* TODO Make top nav sub nav’s have width and height (don’t worry about the layout)*/
nav li {
  border: solid yellow;
  width: 100vw;
}

/*- TODO The links should fill the whole box (subnav items should be clickable anywhere in the box)*/
