/* https://css-tricks.com/bem-101/ will save your soul!!!! */

/*!*menu background color change*!*/
/*!*Thanks to https://etaybarzilay89.github.io/comigo/ for the tip that I don't want to highlight the li, I should highlight the anchor tag*!*/
.mainMenu_subMenuLink:hover,
.mainMenu_subMenuLink:focus {
  outline: none;
  background-color: #f14848;
  color: white;
}

body > header > h1 {
  display: inline;
  text-align: left;
}

body, nav {
  box-sizing: border-box;
  max-width: 100vw;
  margin: 0;
}

/*Use `fixed` positioning on the top header to make it stick to the top of the viewport.- Note that all content below the top header will jump up once we set it to fixed, so we’ll need to add some space to compensate for it*/
body > header {
  background-color: white;
  height: calc(100vw / (1440 / 66));
  min-height: 66px;
  width: 100vw;
  position: fixed;
  top: 0;
}

/*todo vert align in the middle*/
body > header > * {
}

/*.inlineElement {*/
/*display: inline;*/
/*}*/

/*nav ul li a,*/
/*nav ul li,*/
/*nav ul,*/
.mainMenu,
.mainMenu li {
  display: inline;
  text-align: right;
}

.mainMenu_listElement {

}

.mainMenu_mainMenuLink {
  display: inherit;
}

/*todo Hide the sub menu’s, make the links appear on the right*/
/*nav ul ul,*/
.mainMenu_subMenu {
  display: inline;
  width: 100px;
  height: 20px;
  /*position: relative;*/
  /*top: 1rem;*/
}

.mainMenu_subMenuLink {
  display: inherit;
}

/*body header nav ul li:hover > a ~ ul*/ /*accurate, but doesn't mean shit*/
.mainMenu_subMenu--parentHovered {
  display: inherit;
}

/* Make top nav sub nav’s have width and height (don’t worry about the layout)*/
/*- TODO The links should fill the whole box (subnav items should be clickable anywhere in the box)*/
