/* Assignment https://wix-kickstart-2017.slack.com/archives/C5G408NHK/p1498988623606960 */
/*http://getbem.com/*/
@import "headerMenu.css";
@import "backgroundImages.css";
@import "summaryCardSection.css";
@import "videoFeatureSection.css";
@import "blogroll.css";
@import "footer.css";

@media (max-width: 700px) {
  nav {
    display: none;
  }
}

/*from: https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  /* Update all fonts to use `rem` (and add `font-size: 100%` for the `html`)*/
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  /*Default `font-weight` should be `300`, make sure you included that weight in your Source Sans Pro font from Google*/
  font-weight: 300;
}

a {
  /*- all links in Comigo have proper colors based on the live website */
  color: #3d3d3d;
  /*- Remove links underline */
  text-decoration: none;
}

.currentPage {
  color: #f14848;
  font-weight: bold;
}

/*- Make sure visited links look the same as non-visited links */
/*https://stackoverflow.com/a/5890780/7798922*/
a:link, a:visited, a:active, a:hover, a:focus {
  color: inherit;
}

/*- Handle Hover and Focus */
a:hover, a:focus {
color: #f14848;
}

.button, .button:visited {
  /*fix for button padding leaking out of parent div : https://stackoverflow.com/a/15425088/7798922*/
  /*display: inline-block;*/
  /*margin: 10px;*/
  border-radius: 1.7em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.2em 2em;
  background-color: #f14848;
  color: #fff;
}
/*todo rename based on main secondary or content,, not on an implicit property like color*/
.enhanceOTTButton {
  background-color: #fff;
  color: #f14848;
}

.uppercased, .blog_roll .uppercased {
  text-transform: uppercase;
}

.fadeBackground {
  background: linear-gradient(to right, white, transparent);
}

/*- Center headline and texts based on the screenshots*/
/*noinspection CssOptimizeSimilarProperties,CssOptimizeSimilarProperties*/
main header {
  min-height: 50vw;
  text-align: center;
  padding-top: 20vw;
  padding-bottom: 20vw;
  color: white;
}

.textAlignLeft {
  text-align: left;
}

h2 {
  text-transform: uppercase;
}

/*handles margin on the body*/
body {
  margin: 0;
  padding: 0;
}
/*todo font weight and margin on h1*/
main h1 {
  font-weight: 600;
  /*margin: 10px 0 0 10px;*/
}

/*todo Define height for the following sections using `vw` - Solutions*/
.comigoSolutions {
  width: 49vw;
  height: 50vw;
  display: inline-block;
}

.comigoSolutions img {
  max-width: 25vw;
  max-height: 25vw;
}

p {
  color: grey;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialLinkSection {

}
