/* Assignment https://wix-kickstart-2017.slack.com/archives/C5G408NHK/p1498988623606960 */
@media (max-width: 700px) {
  nav {
    display: none;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/*- Add background for the footer */
footer {
  /* http://www.comigo.com/ #page > div > footer background-color */
  background-color: #1e2024;
}

a {
  /*- all links in Comigo have proper colors based on the live website */
  color: #3d3d3d;
  /*- Remove links underline */
  text-decoration: none;
}

#currentPage {
  color: #f14848;
  font-weight: bold;
}

/*- Make sure visited links look the same as non-visited links */
/*https://stackoverflow.com/a/5890780/7798922*/
a:link, a:visited, a:active, a:hover, a:focus {
  color: inherit;
}

/*menu background color change*/
/*Thanks to https://etaybarzilay89.github.io/comigo/ for the tip that I don't want to highlight the li, I should highlight the anchor tag*/
nav ul ul a:hover,
nav ul ul a:focus {
  outline: none;
  background-color: #f14848;
  color: white;
}

/*- Handle Hover and Focus */
a:hover, a:focus {
color: #f14848;
}

footer > ul > li {
  color: #fff;
}

footer > ul > li > a:hover,
footer > ul > li > a:focus {
  color: inherit;
}

footer > ul > li > ul {
  color: #7a7a7a;
}

footer span {
  color: #636363;
}

footer {
  background-color: #1E2024;
}

.footerBottom {
  background-color: #151515;
  color: #636363;
}

.footerBottom a:hover,
.footerBottom a:focus {
  color: white;
}

.button, .button:visited {
  /*fix for button padding leaking out of parent div : https://stackoverflow.com/a/15425088/7798922*/
  display: inline-block;
  margin: 10px;
  border-radius: 1.7em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.2em 2em;
  background-color: #f14848;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #f14848;
}

.whiteBackground {
  background-image: url('../assets/other/home-tv-service-bg2.png');
  background-repeat: no-repeat;
}

.redBackground {
  background-image: url("../assets/other/home-tv-service-bg1.png");
  background-repeat: no-repeat;
}

.starBackground {
  background-image: url('../assets/main-bg/home-featured-bg.png');
  background-repeat: no-repeat;
}

/*blogroll rules*/
#blogroll {
  background-color: #f14848;
  color: white;
}

#blogroll a:hover,
#blogroll a:focus {
  color: white;
}

#blogroll p {
  text-transform: capitalize;
  text-align: left;
}

#blogroll ul li:nth-child(1) {
  background-image: url("../assets/blog/ibc_post_EI-750x508.png");
  background-repeat: no-repeat;

}

#blogroll ul li:nth-child(2) {
  background-image: url("../assets/blog/IMG_9294-750x563.jpeg");
  background-repeat: no-repeat;

}

#blogroll ul li:nth-child(3) {
  background-image: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
  background-repeat: no-repeat;

}

#blogroll ul li:nth-child(4) {
  background-image: url("../assets/blog/post_tv_connect-750x508.jpeg");
  background-repeat: no-repeat;

}

#blogroll ul li:nth-child(5) {
  background-image: url("../assets/blog/post_quality-750x508.jpeg");
  background-repeat: no-repeat;

}

#blogroll p:nth-child(2) {
  background-color: #f14848;
}

.uppercased, #blogroll .uppercased {
  text-transform: uppercase;
}

#fadeBackground {
  background: linear-gradient(to right, white, transparent);
}

/* TODO Add all backgrounds (use some random `height` and `width` if needed, don’t worry about the exact layout, try `%`)*/

/*- Center headline and texts based on the screenshots*/
main header {
  text-align: center;
}

.summaryCard {
  width: 100%;
}

.summaryCard:not(aside) {
  text-align: center;
}

.summaryCard aside {
  text-align: right;
}

.tal {
  text-align: left;
}

h2 {
  text-transform: uppercase;
}

.videoFeaturesSection h2 {
  text-transform: uppercase;
}

.videoFeaturesSection > section > ul > li {
  text-align: center;
}

.comigoSolutions {
  width: 50%;
}

.redBackground {
  text-align: center;
}

.whiteBackground {
  text-align: left;
}

p {
  color: grey;
}

footer li {
  text-align: left;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
