.socialLinkSection {

}

.uniqueExperience{
  position: relative;
  overflow: hidden;
  min-height: 680px;
  height:  calc(100vw/(840/430));
}
.uniqueExperience img {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 20%;
  left: 50%;
}

.uniqueExperience_description {
  height: 370px;
  width: 67vw;
}


section {
  display: block;
}

/*Define height for the following sections using `vw` - Solutions*/
.comigoSolutions {
  width: 50vw;
  height: calc(100vw/2.37);
  min-height: 588px;
  display: inline-block;
}

.comigoSolutions:nth-child(1) {
  float: left;
}
.comigoSolutions:nth-child(2) {
  float: right;
}


.comigoSolutions img {
  max-width: 25vw;
  max-height: 25vw;
}

.comigoSolutions img,
.comigoSolutions h2,
.comigoSolutions a
{
  margin-top: 30px;
  margin-left: 30px;
}

.comigoSolutions p {
  margin-left: 30px;
}

.enhanceOTTButton {
  background-color: #fff;
  color: #f14848;
}
